{% extends "plantillabase2.html" %} 

{% block content %}


{% if pagoformas %}
    <p>Formas de Pago encontrados: {{pagoformas|length}}</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for pagoforma in pagoformas %}
                    <tr>
                        <td>{{pagoforma.id}}</td>
                        <td>{{pagoforma.nombre}}</td>
                        <td>
                        

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>





{% else %}
    <p> no se encuentra clientes con esas caracteristicas </p>

{% endif %}

{% endblock %}