{% extends "plantillabase2.html" %} 

{% block content %}


{% if clientes %}
    <p>Clientes encontrados: {{clientes|length}}</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{cliente.id}}</td>
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.apellido}}</td>
                        <td>{{cliente.email}}</td>
                        <td>
                        

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>





{% else %}
    <p> no se encuentra clientes con esas caracteristicas </p>

{% endif %}

{% endblock %}