{% extends "plantillabase2.html" %} 

{% block content %}

    <p>Ventas encontrados: {{ventas|length}}</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha de Venta</th>
                    <th>Nombre del Cliente</th>
                    <th>Apellido del Cliente</th>
                    <th>Forma de Pago</th>
                    <th>Monto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               
                {% for venta in object_list %}
                    <tr>
                        <td>{{venta.id}}</td>
                        <td>{{venta.fecha_de_venta}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{venta.monto}}</td>
                    </tr>
                {% endfor %}
               
            </tbody>
        </table>
{% endblock %}